<?xml version="1.0"?>
<config>
    <modules>
        <MB_Translate>
            <version>0.1.0</version>
        </MB_Translate>
    </modules>
    <global>
        <models>
          <widget>
              <rewrite>
                  <template_filter>MB_Translate_Model_Template_Filter</template_filter>
              </rewrite>
          </widget>
       </models>
        <helpers>
            <mb_translate>
                <class>MB_Translate_Helper</class>
            </mb_translate>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MB_Translate>
                    <files>
                        <default>MB_Translate.csv</default>
                    </files>
                </MB_Translate>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <cms>
            <translate>
                <default_module>page</default_module>
            </translate>
        </cms>
    </default>
</config>