<?xml version="1.0"?>
<config>
    <sections>
        <cms>
            <groups>
                <translate translate="label" module="mb_translate">
                    <label>Default module for {{translate}} directive</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_module translate="label" module="mb_translate">
                            <label>Default module name</label>
                            <sort_order>1</sort_order>
                            <type>text</type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_module>
                    </fields>
                </translate>
            </groups>
        </cms>
    </sections>
</config>